		<!-- content 
			================================================== -->
		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Our Blog</h2>
					<ul class="page-tree">
						<li><a href="#">Home</a></li>
						<li><a href="#">Blog</a></li>
					</ul>				
				</div>
			</div>

			<!-- blog-box Banner -->
			<div class="blog-box with-sidebar">
				<div class="container">
					<div class="blog-side">
						<div class="row">
							<div class="col-md-4">
								<div class="item news-item">
									<img alt="" src="upload/blog1.jpg">
									<h2><a href="single-post.html">Most Wanted WP eCommerce Themes</a></h2>
									<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio</p>
									<ul class="blog-tags">
										<li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
										<li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
										<li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
									</ul>
								</div>
							</div>

							<div class="col-md-4">
								<div class="item news-item">
									<img alt="" src="upload/blog2.jpg">
									<h2><a href="single-post.html">Most Wanted WP eCommerce Themes</a></h2>
									<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio</p>
									<ul class="blog-tags">
										<li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
										<li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
										<li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
									</ul>
								</div>
							</div>

							<div class="col-md-4">
								<div class="item news-item">
									<img alt="" src="upload/blog3.jpg">
									<h2><a href="single-post.html">Most Wanted WP eCommerce Themes</a></h2>
									<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio</p>
									<ul class="blog-tags">
										<li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
										<li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
										<li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-4">
								<div class="item news-item">
									<img alt="" src="upload/blog4.jpg">
									<h2><a href="single-post.html">Most Wanted WP eCommerce Themes</a></h2>
									<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio</p>
									<ul class="blog-tags">
										<li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
										<li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
										<li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
									</ul>
								</div>
							</div>

							<div class="col-md-4">
								<div class="item news-item">
									<img alt="" src="upload/blog5.jpg">
									<h2><a href="single-post.html">Most Wanted WP eCommerce Themes</a></h2>
									<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio</p>
									<ul class="blog-tags">
										<li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
										<li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
										<li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
									</ul>
								</div>
							</div>

							<div class="col-md-4">
								<div class="item news-item">
									<img alt="" src="upload/blog6.jpg">
									<h2><a href="single-post.html">Most Wanted WP eCommerce Themes</a></h2>
									<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio</p>
									<ul class="blog-tags">
										<li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
										<li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
										<li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-4">
								<div class="item news-item">
									<img alt="" src="upload/blog1.jpg">
									<h2><a href="single-post.html">Most Wanted WP eCommerce Themes</a></h2>
									<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio</p>
									<ul class="blog-tags">
										<li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
										<li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
										<li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
									</ul>
								</div>
							</div>

							<div class="col-md-4">
								<div class="item news-item">
									<img alt="" src="upload/blog2.jpg">
									<h2><a href="single-post.html">Most Wanted WP eCommerce Themes</a></h2>
									<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio</p>
									<ul class="blog-tags">
										<li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
										<li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
										<li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
									</ul>
								</div>
							</div>

							<div class="col-md-4">
								<div class="item news-item">
									<img alt="" src="upload/blog3.jpg">
									<h2><a href="single-post.html">Most Wanted WP eCommerce Themes</a></h2>
									<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio</p>
									<ul class="blog-tags">
										<li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
										<li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
										<li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
									</ul>
								</div>
							</div>
						</div>
						<ul class="pagination-list">
							<li><a class="active" href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
						</ul>
					</div>			
				</div>
			</div>

		</div>
		<!-- End content -->


	