		<!-- slider 
			================================================== -->
		<div id="slider">
			<!--
			#################################
				- THEMEPUNCH BANNER -
			#################################
			-->

			<div class="fullwidthbanner-container">
				<div class="fullwidthbanner">
					<ul>
						<!-- THE FIRST SLIDE -->
						<li data-transition="3dcurtain-vertical" data-slotamount="10" data-masterspeed="300">
							<!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
							<img alt="" src="upload/slider-revolution/1.jpg" >

							<!-- THE CAPTIONS IN THIS SLDIE -->
							<div class="caption large_text sfb"
								 data-x="15"
								 data-y="100"
								 data-speed="600"
								 data-start="1200"
								 data-easing="easeOutExpo" data-end="7000" data-endspeed="300" data-endeasing="easeInSine" >welcome to Orbit7</div>

							<div class="caption big_white sft stt"
								 data-x="15"
								 data-y="147"
								 data-speed="500"
								 data-start="1400"
								 data-easing="easeOutExpo" data-end="7100" data-endspeed="300" data-endeasing="easeInSine" >multipurpose theme with drag &#38; drop <span>Page Builder</span></div>

							<div class="caption modern_medium_fat sft stt"
								 data-x="15"
								 data-y="194"
								 data-speed="500"
								 data-start="1600"
								 data-easing="easeOutExpo" data-end="7200" data-endspeed="300" data-endeasing="easeInSine" >Ultra Responsive, <span>Retina </span> Ready</div>

							<div class="caption small_text sft stt"
								 data-x="15"
								 data-y="225"
								 data-speed="500"
								 data-start="1900"
								 data-easing="easeOutExpo" data-end="7300" data-endspeed="300" data-endeasing="easeInSine" >it comes with extra powerful admin panel</div>

							<div class="caption randomrotate"
								 data-x="15"
								 data-y="285"
								 data-speed="600"
								 data-start="2200"
								 data-easing="easeOutExpo" data-end="7350" data-endspeed="300" data-endeasing="easeInSine" ><img src="images/slider-icons/icon1.png" alt="Image 1"></div>

							<div class="caption modern_small_text_dark sft"
								 data-x="31"
								 data-y="390"
								 data-speed="600"
								 data-start="2500"
								 data-easing="easeOutExpo" data-end="7400" data-endspeed="300" data-endeasing="easeInSine" >update <br> notification</div>

							<div class="caption randomrotate"
								 data-x="125"
								 data-y="285"
								 data-speed="600"
								 data-start="2700"
								 data-easing="easeOutExpo" data-end="7450" data-endspeed="300" data-endeasing="easeInSine" ><img src="images/slider-icons/icon2.png" alt="Image 2"></div>

							<div class="caption modern_small_text_dark sft"
								 data-x="141"
								 data-y="390"
								 data-speed="600"
								 data-start="2900"
								 data-easing="easeOutExpo" data-end="7500" data-endspeed="300" data-endeasing="easeInSine" >typography<br> settings</div>

							<div class="caption randomrotate"
								 data-x="235"
								 data-y="285"
								 data-speed="600"
								 data-start="3100"
								 data-easing="easeOutExpo" data-end="7550" data-endspeed="300" data-endeasing="easeInSine" ><img src="images/slider-icons/icon3.png" alt="Image 3"></div>

							<div class="caption modern_small_text_dark sft"
								 data-x="251"
								 data-y="390"
								 data-speed="600"
								 data-start="3300"
								 data-easing="easeOutExpo" data-end="7600" data-endspeed="300" data-endeasing="easeInSine" >unlimited<br>  portfolios</div>

							<div class="caption randomrotate"
								 data-x="345"
								 data-y="285"
								 data-speed="600"
								 data-start="3500"
								 data-easing="easeOutExpo" data-end="7650" data-endspeed="300" data-endeasing="easeInSine" ><img src="images/slider-icons/icon4.png" alt="Image 4"></div>

							<div class="caption modern_small_text_dark sft"
								 data-x="355"
								 data-y="390"
								 data-speed="600"
								 data-start="3700"
								 data-easing="easeOutExpo" data-end="7700" data-endspeed="300" data-endeasing="easeInSine" >extended<br> documentation</div>

							<div class="caption randomrotate"
								 data-x="795"
								 data-y="32"
								 data-speed="600"
								 data-start="4000"
								 data-easing="easeOutExpo" data-end="7800" data-endspeed="300" data-endeasing="easeInSine" ><img src="images/slider-icons/profile.png" alt="Image 6"></div>
						</li>
						<!-- THE Second SLIDE -->
						<li data-transition="papercut" data-slotamount="15" data-masterspeed="300">
							<!-- THE MAIN IMAGE IN THE second SLIDE -->
							<img alt="" src="upload/slider-revolution/2.jpg" >

							<!-- THE CAPTIONS IN THIS SLDIE -->

							<div class="caption big_white sft stt"
								 data-x="295"
								 data-y="116"
								 data-speed="500"
								 data-start="1200"
								 data-easing="easeOutExpo" data-end="7100" data-endspeed="300" data-endeasing="easeInSine" ><span class="opt-style">Load-Speed Optimization and Seo-Friendly</span></div>

							<div class="caption modern_medium_fat sft stt"
								 data-x="437"
								 data-y="160"
								 data-speed="500"
								 data-start="1600"
								 data-easing="easeOutExpo" data-end="7200" data-endspeed="300" data-endeasing="easeInSine" ><span class="opt-style2">Cross-Browser</span> Compatible</div>

							<div class="caption randomrotate"
								 data-x="205"
								 data-y="282"
								 data-speed="600"
								 data-start="2200"
								 data-easing="easeOutExpo" data-end="7350" data-endspeed="300" data-endeasing="easeInSine" ><img src="images/slider-icons/ipad1.png" alt="Image 1"></div>

							<div class="caption randomrotate"
								 data-x="482"
								 data-y="227"
								 data-speed="600"
								 data-start="2700"
								 data-easing="easeOutExpo" data-end="7450" data-endspeed="300" data-endeasing="easeInSine" ><img src="images/slider-icons/ipad2.png" alt="Image 2"></div>

							<div class="caption randomrotate"
								 data-x="761"
								 data-y="282"
								 data-speed="600"
								 data-start="3100"
								 data-easing="easeOutExpo" data-end="7550" data-endspeed="300" data-endeasing="easeInSine" ><img src="images/slider-icons/ipad3.png" alt="Image 3"></div>
						</li>

						<!-- THE third SLIDE -->
						<li data-transition="turnoff" data-slotamount="10" data-masterspeed="300">
							<!-- THE MAIN IMAGE IN THE second SLIDE -->
							<img alt="" src="upload/slider-revolution/3.jpg" >

							<!-- THE CAPTIONS IN THIS SLDIE -->

							<div class="caption randomrotate"
								 data-x="100"
								 data-y="122"
								 data-speed="600"
								 data-start="1200"
								 data-easing="easeOutExpo" data-end="7100" data-endspeed="300" data-endeasing="easeInSine" ><img src="images/slider-icons/slide.png" alt="Image 1"></div>

							<div class="caption big_white sft stt slide3-style"
								 data-x="520"
								 data-y="194"
								 data-speed="500"
								 data-start="1500"
								 data-easing="easeOutExpo" data-end="7300" data-endspeed="300" data-endeasing="easeInSine" >Fully Customizable <span>HTML5/CSS3 </span> Template</div>

							<div class="caption modern_medium_fat sft stt slide3-style"
								 data-x="520"
								 data-y="237"
								 data-speed="500"
								 data-start="1700"
								 data-easing="easeOutExpo" data-end="7500" data-endspeed="300" data-endeasing="easeInSine" ><span class="opt-style2">Pixel Perfect</span> Design</div>

							<div class="caption lfr medium_text"
								 data-x="520"
								 data-y="278"
								 data-speed="600"
								 data-start="1900"
								 data-easing="easeOutExpo" data-end="7600" data-endspeed="300" data-endeasing="easeInSine" ><a href="#">Learn More</a></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End slider -->

		<!-- content 
			================================================== -->
		<div id="content">
			<div class="portfolio-box with-3-col">
				<div class="container">
					<ul class="filter">
						<li><a href="#" class="active" data-filter="*"><i class="fa fa-th"></i>Show All</a></li>
						<li><a href="#" data-filter=".web-design">Web Design</a></li>
						<li><a href="#" data-filter=".photography">Photography</a></li>
						<li><a href="#" data-filter=".nature">Nature</a></li>
						<li><a href="#" data-filter=".logo">Logo</a></li>
						<li><a href="#" data-filter=".brochures">Brochures</a></li>
						<li><a href="#" data-filter=".website">Website</a></li>
					</ul>

					<div class="portfolio-container">

						<div class="work-post web-design brochures">
							<div class="work-post-gal">
								<img alt="" src="upload/image1.jpg">
								<div class="hover-box">
									<a class="zoom video" href="https://www.youtube.com/watch?v=h_5sQjRrFIs"><i class="fa fa-plus-circle"></i></a>
									<a class="page" href="single-project.html"><i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
							<div class="work-post-content">
								<h2>Attractive Admin UI</h2>
								<span>short description of portfolio item</span>
							</div>
						</div>

						<div class="work-post photography website">
							<div class="work-post-gal">
								<img alt="" src="upload/image2.jpg">
								<div class="hover-box">
									<a class="zoom" href="upload/image2.jpg"><i class="fa fa-plus-circle"></i></a>
									<a class="page" href="single-project.html"><i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
							<div class="work-post-content">
								<h2>Green Leaf Falling Dawn</h2>
								<span>short description of portfolio item</span>
							</div>											
						</div>

						<div class="work-post web-design photography">
							<div class="work-post-gal">
								<img alt="" src="upload/image3.jpg">
								<div class="hover-box">
									<a class="zoom video" href="http://www.youtube.com/watch?v=6v2L2UGZJAM"><i class="fa fa-plus-circle"></i></a>
									<a class="page" href="single-project.html"><i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
							<div class="work-post-content">
								<h2>Beautiful Wallpaper</h2>
								<span>short description of portfolio item</span>
							</div>								
						</div>

						<div class="work-post nature logo">
							<div class="work-post-gal">
								<img alt="" src="upload/image4.jpg">
								<div class="hover-box">
									<a class="zoom" href="upload/image2.jpg"><i class="fa fa-plus-circle"></i></a>
									<a class="page" href="single-project.html"><i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
							<div class="work-post-content">
								<h2>Green Leaf Falling Dawn</h2>
								<span>short description of portfolio item</span>
							</div>							
						</div>

						<div class="work-post photography brochures">
							<div class="work-post-gal">
								<img alt="" src="upload/image1.jpg">
								<div class="hover-box">
									<a class="zoom video" href="https://www.youtube.com/watch?v=h_5sQjRrFIs"><i class="fa fa-plus-circle"></i></a>
									<a class="page" href="single-project.html"><i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
							<div class="work-post-content">
								<h2>Attractive Admin UI</h2>
								<span>short description of portfolio item</span>
							</div>
						</div>

						<div class="work-post web-design brochures">
							<div class="work-post-gal">
								<img alt="" src="upload/image2.jpg">
								<div class="hover-box">
									<a class="zoom" href="upload/image2.jpg"><i class="fa fa-plus-circle"></i></a>
									<a class="page" href="single-project.html"><i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
							<div class="work-post-content">
								<h2>Green Leaf Falling Dawn</h2>
								<span>short description of portfolio item</span>
							</div>									
						</div>

						<div class="work-post photography website">
							<div class="work-post-gal">
								<img alt="" src="upload/image3.jpg">
								<div class="hover-box">
									<a class="zoom video" href="http://www.youtube.com/watch?v=6v2L2UGZJAM"><i class="fa fa-plus-circle"></i></a>
									<a class="page" href="single-project.html"><i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
							<div class="work-post-content">
								<h2>Beautiful Wallpaper</h2>
								<span>short description of portfolio item</span>
							</div>										
						</div>

						<div class="work-post web-design brochures">
							<div class="work-post-gal">
								<img alt="" src="upload/image4.jpg">
								<div class="hover-box">
									<a class="zoom" href="upload/image2.jpg"><i class="fa fa-plus-circle"></i></a>
									<a class="page" href="single-project.html"><i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
							<div class="work-post-content">
								<h2>Green Leaf Falling Dawn</h2>
								<span>short description of portfolio item</span>
							</div>								
						</div>

						<div class="work-post nature website">
							<div class="work-post-gal">
								<img alt="" src="upload/image1.jpg">
								<div class="hover-box">
									<a class="zoom video" href="https://www.youtube.com/watch?v=h_5sQjRrFIs"><i class="fa fa-plus-circle"></i></a>
									<a class="page" href="single-project.html"><i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
							<div class="work-post-content">
								<h2>Attractive Admin UI</h2>
								<span>short description of portfolio item</span>
							</div>
						</div>

					</div>

					<ul class="pagination-list">
						<li><a class="active" href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
					</ul>				
				</div>
			</div>

		</div>
		<!-- End content -->


	