<div id="content">
<!-- Page Banner -->
<div class="page-banner">
  <div class="container">
    <h2>Portfolio</h2>
    <ul class="page-tree">
      <li><a ui-sref="main">Home</a></li>
      <li><a ui-sref="portfolio1">Portfolio</a></li>
    </ul>
  </div>
</div>
<div class="portfolio-box with-4-col">
  <div class="container">
    <ul class="filter">
      <li><a ui-sref="portfolio1" class="active" data-filter="*"><i class="fa fa-th"></i>Show All</a></li>
      <li><a ui-sref="portfolio1" data-filter=".website">Website</a></li>
      <li><a ui-sref="portfolio1" data-filter=".mobile">Mobile Site</a></li>
      <li><a ui-sref="portfolio1" data-filter=".android">ANDROID APP</a></li>
      <li><a ui-sref="portfolio1" data-filter=".ios">IOS APP</a></li>
    </ul>
    <div class="portfolio-container">

      <div class="row">
      <div class="col-md-3">
      <div class="work-post website">
        <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/portfolio/medium-portfolio/360-271stone&pro.png">
          <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/portfolio/full-stoneandtile.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://stoneandtilepros.com"><i class="fa fa-arrow-circle-right"></i></a>
           </div>
        </div>
        <div class="work-post-content">
          <h2>STONE AND TILE PROS</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="work-post website">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/medium-portfolio/themainframeonline_medium.png">
          <div class="hover-box"> <a class="zoom" href="images/portfolio/full-portfolio/themainframeonline_full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://themainframeonline.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>MAINFRAME COUMPTER</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="work-post website">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/medium-portfolio/bookmyseats-medium.png">
          <div class="hover-box"> <a class="zoom" href="images/portfolio/full-portfolio/bookmyseats-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://www.bookmyseats.co.in/"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>BOOK MY SEATS</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      <div class="col-md-3">
     
     <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/marble-medium.png">
            <div class="hover-box"> <a class="zoom video"  href="http://sbsgroupsolutions.com/assets/2images/marble-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://marblecleaning.org/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>MARBLECLEANING</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        </div>
      <div class="row">
      <div class="col-md-3">
      <div class="work-post website">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/medium-portfolio/mastercare-medium.png">
          <div class="hover-box"> <a class="zoom video" href="images/portfolio/full-portfolio/mastercare-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://mastercareprotectionandcleaning.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>MASTER CARE</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="work-post website">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/medium-portfolio/caseystoragesolutions_medium.png">
          <div class="hover-box"> <a class="zoom" href="images/portfolio/full-portfolio/caseystoragesolutions_full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://www.caseystoragesolutions.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>CASE STORAGE</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="work-post website">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/medium-portfolio/headgym-medium.png">
          <div class="hover-box"> <a class="zoom video" href="images/portfolio/full-portfolio/headgym-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://headgym.co.uk/"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>HEADGYM</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="work-post website">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/medium-portfolio/igsdiamonds-medium.png">
          <div class="hover-box"> <a class="zoom" href="images/portfolio/full-portfolio/igsdiamonds-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://igsdiamonds.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>IGS DIAMONDS</h2>
          <!--<span>short description of portfolio item</span-->
        </div>
      </div>
      </div>
      </div>
      <!--<website end-->
      <!----------------------------------------------------------------->
      <!--<iOS Site start-->
      <div class="row">
      <div class="col-md-3">
      <div class="work-post ios">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/medium-portfolio/desi-music-medium.png">
          <div class="hover-box"> <a class="zoom" href="images/portfolio/full-portfolio/desi-music-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="https://itunes.apple.com/us/app/desi-music-hindi-songs-+-bollywood/id364595835?mt=8"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>DESI MUSIC</h2>
          <!--<span>short description of portfolio item</span-->
        </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="work-post ios">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/medium-portfolio/flashEnglish-medium.png">
          <div class="hover-box"> <a class="zoom video" href="images/portfolio/full-portfolio/FlashEnglish-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="https://itunes.apple.com/in/app/baby-flash-cards-450+-flashcards/id378668742?mt=8"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>FLASH ENGLISH</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="work-post ios">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/myemo_mediuml.png">
          <div class="hover-box"> <a class="zoom video" href="images/portfolio/myemo_full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="https://itunes.apple.com/us/app/myemo-free-loving-my-own-emoticon/id730985773?mt=8"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>MYEMO</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="work-post ios">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/medium-portfolio/the-right-contact-medium.png">
          <div class="hover-box"> <a class="zoom video" href="images/portfolio/full-portfolio/the-right-contact-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="https://itunes.apple.com/in/app/the-right-contact/id610524395?mt=8"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>RIGHT CONTACT</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>

    </div>
    <div class="row">
    <div class="col-md-3">
      <div class="work-post ios">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/abstract-lesson-mediuml.png">
          <div class="hover-box"> <a class="zoom video" href="images/portfolio/abstract-lesson-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="https://itunes.apple.com/us/app/abstract-lesson/id803099378?mt=8"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>ABSTRACT LESSON</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="work-post ios">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/jerrys-world-seek-medium.png">
          <div class="hover-box"> <a class="zoom video" href="images/portfolio/jeriworld.jpg"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="https://itunes.apple.com/us/app/jerrys-world-seek-find/id574491053?ls=1&mt=8"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>JERRY'S WORLD SEEK & FIND</h2>
        </div>
      </div>
      </div>
      <!--<iOS end-->
    
     <!--<Android start-->
     <div class="col-md-3">
      <div class="work-post android">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/desi music-medium.png">
          <div class="hover-box"> <a class="zoom video" href="images/portfolio/full-portfolio/desi music-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page"  target="_blank"href="https://play.google.com/store/apps/details?id=com.it.desimusicrainapp&hl=en"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>DESI MUSIC</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="work-post android">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/FlashEnglish-mediuml.png">
          <div class="hover-box"> <a class="zoom video" href="images/portfolio/FlashEnglish-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page"  target="_blank"href="https://play.google.com/store/apps/details?id=com.eFlashEnglish"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>EFLASH ENGLISH</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      </div>

      <div class="row">
      <div class="col-md-3">
      <div class="work-post android">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/genuis-baby-flash-baby-medium.png">
          <div class="hover-box"> <a class="zoom video" href="images/portfolio/genuis-baby-flash-baby.png"><i class="fa fa-plus-circle"></i></a> <a class="page" href="https://play.google.com/store/apps/details?id=com.eFlash2/"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>GENUIS BABY</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="work-post android">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/examalert-medium.png">
          <div class="hover-box"> <a class="zoom video" href="images/portfolio/examalert-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="
https://play.google.com/store/apps/details?id=com.examalert"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>EXAM ALERT</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>

      <div class="col-md-3">
      <div class="work-post android">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/i am not dead-medium.png">
          <div class="hover-box"> <a class="zoom video" href="images/portfolio/i am not dead-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="https://play.google.com/store/apps/details?id=com.pack.imnotdead&hl=en"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>I AM NOT DEAT</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="work-post android">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/longshore-medium.png">
          <div class="hover-box"> <a class="zoom video" href="images/portfolio/longshore.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="https://play.google.com/store/apps/details?id=com.Longshore.Dispatch2&hl=en"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>LONGSHORE</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      </div>
   <!--<span>End android-->  
  
   <!--<span>start mobile site-->  

   <div class="row">
   <div class="col-md-3">
    <div class="work-post nature mobile">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/setinstone-medium.png">
          <div class="hover-box"> <a class="zoom video" href="images/portfolio/setinstone-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page"  target="_blank" href="setinstonerestoration.mobi"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>SETINSTONE MOBILE</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      <div class="col-md-3">
    <div class="work-post nature mobile">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/stonemakeover-medium.png">
          <div class="hover-box"> <a class="zoom video" href="images/portfolio/stonemakeover-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://stonemakeover.mobi/"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>STONEMAKEOVER MOBILE</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      <div class="col-md-3">
    <div class="work-post nature mobile">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/restorationstoneworks-medium.png">
          <div class="hover-box"> <a class="zoom video" href="images/portfolio/restorationstoneworks-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page"  target="_blank"href="http://restorationstoneworks.mobi/"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>RESTORATIONSNETWORKS MOBILE</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      <div class="col-md-3">
    <div class="work-post nature mobile">
        <div class="work-post-gal"> <img alt="" src="images/portfolio/fabra-clean-medium.png">
          <div class="hover-box"> <a class="zoom video" href="images/portfolio/fabra-clean-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://www.fabracleen.mobi/"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>FABRACLEEN MOBILE</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      </div>
     <!--<span>end mobile site-->  
      <div class="clearboth"></div>
    </div>
    <ul class="pagination-list">

            <li><a class="active" ui-sref="portfolio1">1</a></li>
            <li><a ui-sref="portfolio2">2</a></li>
                        <li><a ui-sref="portfolio3">3</a></li>
          </ul>   
  </div>
</div>
<!-- End content -->