

<style type="text/css">
	
   .news-item {
    background: #f6f6f6;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(246, 246, 246);
    margin-bottom: 40px;
    padding: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}


</style>


<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Testimonials</h2>
					<ul class="page-tree">
						<li><a ui-sref="main">Home</a></li>
						<li><a ui-sref="testimonial1">Testimonial</a></li>
					</ul>				
				</div>
			</div>

			<!-- blog-box Banner -->
			<div class="blog-box with-sidebar">
				<div class="container">
					<div class="row">
 						<div class="col-md-9 blog-side">
                            <ul class="pagination1">
								<li>
								 <div class="item news-item"> 
								
										<!--<img alt="" src="assets/upload/blog1.jpg">-->
										<p>Saurav and his team at SBS Group Solutions have shown excellence in all regards; responsiveness, attention to detail, adherence to schedule, cost and above all, professionalism. With any changes in code we requested upon initial QA, they always had the "yes, we'll do it" attitude which makes such a huge difference for us. Quality of work has also been excellent and they have gone above and beyond their initial scope of work to ensure that the final product was to our satisfaction. Communication was easy via email, chat and Skype and also available over their mobile phone for any urgent issues. We are excited to have found SBS Group and are looking forward to many more projects with them here on. Highly recommend without any reservation.</p>
										<h2>eFlashApps, LLC</h2>
										<!--<ul class="blog-tags">
											<li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
											<li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
											<li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
										</ul>-->
										</blockquote>
									</div> </li>
						        <li>
						        <div class="item news-item">
										<!--<img alt="" src="assets/upload/blog2.jpg">-->
										
			<p> Despite the time zone difference, Saurav (and Ankita who I worked directly most often) were very communicative throughout the whole process. They readily fielded any changes to the product, and in the end, I was happy with the work that they did. I would reach out to them again if I needed app work done.</p>
										<h2>Buggy Robot Design LLC</h2>
										<!--<ul class="blog-tags">
											<li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
											<li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
											<li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
										</ul>-->
									</div> </li>
								<li><div class="item news-item">
										<!--<img alt="" src="assets/upload/blog4.jpg">-->
										
										<p>SBSgroup solutions are a great team that work well with you to get the best solution for your needs. Communication is excellent.</p>
										<h2><a href="single-post.html">LifenStyle Apps Pty Ltd.</a></h2>
										<!--<ul class="blog-tags">
											<li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
											<li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
											<li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
										</ul>-->
									</div> </li>
								<li><div class="item news-item">
										<!--<img alt="" src="assets/upload/blog6.jpg">-->
										
										<p>I am happy to work with SBS Group. The team was responsive for any of my concerns over the project. Everything was done that was feasible. great company and team to work with will use again!</p>
										<h2>Dana Rose Design Group</h2>
										<!--<ul class="blog-tags">
											<li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
											<li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
											<li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
										</ul>-->
									</div> </li>
								<li><div class="item news-item">
										<!--<img alt="" src="assets/upload/blog1.jpg">-->
										
										<p>The developer is very responsive and was very easy to work with again. Deadlines were respected as was the budget. The coding was done in compliance to the app store standards which resulted in a highly functional app.</p>
										<h2>Inventive Approach Inc.</h2>
										<!--<ul class="blog-tags">
											<li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
											<li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
											<li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
										</ul>-->
									</div> </li>
								<li><div class="item news-item">
										<!--<img alt="" src="assets/upload/blog3.jpg">-->
										
										<p>We were glad with our decision to tie up with SBS Group i-Tech Solutions Pvt. Ltd  for our Mobile Development Requirements.  We were impressed with their exceptional service, timely deliveries as well as excellent communication level.  We look forward for a long term and successful cooperation with SBS to always provide the best for our clients.</p>
										<h2>Rana Zaidan, General manager</h2>
									<!--	<ul class="blog-tags">
											<li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
											<li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
											<li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
										</ul>-->
									</div> </li>
                                    
                             </ul>
							
                            <div class="clearboth"></div>
                            <ul class="pagination-list">
								<li><a class="active" ui-sref="testimonial1">1</a></li>
								<li><a ui-sref="testimonial2" >2</a></li>
								<li><a ui-sref="testimonial3" >3</a></li>
							</ul>
                            
                             <!-- <ul class="pagination-list">
						<li><a class="active" href="portfolio/portfolio2">1</a></li>
						<li><a href="portfolio/portfolio3">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
					</ul>		-->	
                            
                            
						</div>
						<!--<div class="col-md-3 sidebar">
								<div class="tabs-widget widget">
									<ul class="tab-links">
										<li><a class="tab-link2" href="#"> RecentPost</a></li>
									</ul>
									<div class="tab-box">
										<div class="tab-content active">
											<ul class="post-popular">
												<li>
													<img alt="" src="assets/images/post-img.png">
													<h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
												</li>
												<li>
													<img alt="" src="assets/images/post-img2.png">
													<h6><a href="#">Sollicitudin, lorem quis bibendum auctor, nisi elit</a></h6>
												</li>
												<li>
													<img alt="" src="assets/images/post-img3.png">
													<h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
												</li>
											</ul>
										</div>
										<div class="tab-content">
											<ul class="post-recent">
												<li>
													<img alt="" src="assets/images/post-img2.png">
													<h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
												</li>
												<li>
													<img alt="" src="assets/images/post-img3.png">
													<h6><a href="#">Sollicitudin, lorem quis bibendum auctor, nisi elit</a></h6>
												</li>
												<li>
													<img alt="" src="assets/images/post-img.png">
													<h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
												</li>
											</ul>
										</div>
										<div class="tab-content">
											<ul class="post-comments">
												<li>
													<img alt="" src="assets/images/post-img2.png">
													<h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
												</li>
												<li>
													<img alt="" src="assets/images/post-img3.png">
													<h6><a href="#">Sollicitudin, lorem quis bibendum auctor, nisi elit</a></h6>
												</li>
												<li>
													<img alt="" src="assets/images/post-img2.png">
													<h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
												</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="accordion-widget widget">
									<h3>Orbit7 FAQs</h3>
									<div class="accordion-box">

										<div class="accord-elem active">
											<div class="accord-title">
												<h5>Marketplace Basics</h5>
												<a class="accord-link" href="#"></a>
											</div>
											<div class="accord-content">
												<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec</p>
											</div>
										</div>

										<div class="accord-elem">
											<div class="accord-title">
												<h5>Author Resources</h5>
												<a class="accord-link" href="#"></a>
											</div>
											<div class="accord-content">
												<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec</p>
											</div>
										</div>

										<div class="accord-elem">
											<div class="accord-title">
												<h5>Theme Requirements</h5>
												<a class="accord-link" href="#"></a>
											</div>
											<div class="accord-content">
												<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec</p>
											</div>
										</div>
									</div>
								</div>

								<div class="tags-widget widget">
									<h3>Tags</h3>
									<ul class="tag-widget-list">
										<li><a href="#">web design</a></li>
										<li><a href="#">coding</a></li>
										<li><a href="#">wordpress</a></li>
										<li><a href="#">woo commerce</a></li>
										<li><a href="#">php</a></li>
										<li><a href="#">photography</a></li>
									</ul>
								</div>

								<div class="text-widget widget">
									<h3>Text Widget</h3>
									<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
								</div>

							</div>-->
							<div class="col-md-3 sidebar">
	<div class="tabs-widget widget">
									<ul class="tab-links">
										<!--<li><a class="tab-link1 active" href="#"> Popular</a></li>-->
										<li><a class="tab-link2" href="#"> Recent Project </a></li>
										<!--<li><a class="tab-link3" href="#"> Comments</a></li>-->
									</ul>
									<div class="tab-box">
										<div class="tab-content active">
											<ul class="post-popular">
												<li>
													<a href="/portfolio"> <img alt="" src="http://sbsgroupsolutions.com//assets/images/recentpost/stoneandtilepros.png" width="197" height="45"></a>
													
                                                    <!--<h6 style="margin-top:20px; float:left; width:100%;"><a href="/portfolio">Stone And Tile PROS </a></h6>-->
                                                </li>
												<li>
													<a href="/portfolio"> <img alt="" src="http://sbsgroupsolutions.com//assets/images/recentpost/prosteem.png" width="105" height="45"> </a>
													<!--<h6 style="margin-top:20px; float:left; width:100%;"><a href="/portfolio">Prosteem</a></h6>-->
												</li>
												<li>
													<a href="/portfolio"> <img alt="" src="http://sbsgroupsolutions.com//assets/images/recentpost/stone-makeover.png" width="133" height="45"></a>
													<!--<h6 style="margin-top:20px; float:left; width:100%;"><a href="/portfolio">Stone Makeover</a></h6>-->
												</li>
											</ul>
										</div>
										
									</div>
								</div>
    <div class="accordion-widget widget">
									<h3 style="text-align:left;">Testimonials</h3>
									
                                    <div class="sidebar-testi" style="margin-bottom:20px;">
                                         <p> SBS Group has developed many sites for us. I consider them to be an expert on my team and I would be lost without them. I rely on their expertise to help me make the right choices for every project.</p> <div style="margin-top:10px; text-align:right;"><span>Deborah Shaw(Debbie), Id Est Productions.</span></div>
                                         
                                         

									</div>
                                    
                                    <div class="viewall-wrap" style="width:100%; margin-top:20px; text-align:right"><a href="/testimonial" style="color:#aeaeae; text-decoration:none;">View All</a>
								</div>

							<!--	<div class="tags-widget widget">
									<h3>Tags</h3>
									<ul class="tag-widget-list">
										<li><a href="#">web design</a></li>
										<li><a href="#">coding</a></li>
										<li><a href="#">wordpress</a></li>
										<li><a href="#">woo commerce</a></li>
										<li><a href="#">php</a></li>
										<li><a href="#">photography</a></li>
									</ul>
								</div>

								<div class="text-widget widget">
									<h3>Text Widget</h3>
									<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
								</div>-->

							</div>
</div>						</div>
					</div>
											
				</div>
			</div>

		</div>
		   <!-- End content -->